@using vet_manager.Application.Register.DTOs;

<EditForm Model="@registerPet" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group mb-2">
        <label for="name">Name</label>
        <InputText id="name" class="form-control" @bind-Value="registerPet.Name" />
    </div>

    <div class="form-group mb-2">
        <label for="animalId">Animal ID</label>
        <InputNumber id="animalId" class="form-control" @bind-Value="registerPet.AnimalId" />
    </div>

    <div class="form-group mb-2">
        <label for="breedId">Breed ID</label>
        <InputNumber id="breedId" class="form-control" @bind-Value="registerPet.BreedId" />
    </div>

    <div class="form-group mb-2">
        <label for="clientId">Client ID</label>
        <InputNumber id="clientId" class="form-control" @bind-Value="registerPet.ClientId" />
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</EditForm>

@code {
    private RegisterPetDTO registerPet = new RegisterPetDTO();

    private void HandleValidSubmit()
    {
        // Handle the valid form submission here, such as sending the data to a server.
        Console.WriteLine($"Name: {registerPet.Name}");
        Console.WriteLine($"AnimalId: {registerPet.AnimalId}");
        Console.WriteLine($"BreedId: {registerPet.BreedId}");
        Console.WriteLine($"ClientId: {registerPet.ClientId}");
    }
}
